@{
    var product = ViewData["Product"] as Product;
}

@section Links{
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/product.css"/>
    <link rel="stylesheet" type="text/css" href="~/css/product_responsive.css"/>
    <link rel="stylesheet" type="text/css" href="~/css/my.css"/>

}


    <div class="super_overlay"></div>

    <!-- Home -->
    <input type="hidden" id="product_id" value="@product.Id" />
    <div class="home">
        <div class="home_container d-flex flex-column align-items-center justify-content-end">
            <div class="home_content text-center">
                <div class="home_title">Product Page</div>
                <div class="breadcrumbs d-flex flex-column align-items-center justify-content-center">
                    <ul class="d-flex flex-row align-items-start justify-content-start text-center">
                        <li><a asp-action="Index" asp-controller="Home">Home</a></li>
                        <li>
                            <a asp-action="Category"
                           asp-controller="Home"
                           asp-route-id="@product.Category.Id"
                           asp-route-title="@product.Category.Title">@product.Category.Title</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Product -->

    <div class="product">
        <div class="container">
            <form class="product_form" method="post">
                <!-- Product Image -->
                <div class="col-lg-6">
                    <img src="@product.Image" id="product_image" />
                </div>
                <!-- Product Info -->
                <div class="col-lg-6 product_col">
                    <div class="product_info">
                        <input type="hidden" value="@product.Id" id="product_id"/>
                        <div class="product_name" id="product_name">@product.Title</div>
                        <div class="product_category">In Category</div>
                        <div class="product_rating_container d-flex flex-row align-items-center justify-content-start">
                            <div class="rating_r rating_r_4 home_item_rating">
                            </div>
                        </div>
                        <div class="product_price">
                            <div>$</div>
                            <div id="product_price">@product.Price</div>
                        </div>
                        <div class="product_size">
                            <div class="product_size_title">Select Size</div>
                            <ul class="d-flex flex-row align-items-start justify-content-start">
                                @foreach (var item in @product.Sizes)
                            {
                                <li>
                                    @if (item.Value != 0)
                                    {
                                        <input type="radio" id="@item.Key" name="product_radio" value="@item.Key"
                                       class="regular_radio">
                                    }
                                    else
                                    {
                                        <input type="radio" id="@item.Key" disabled name="product_radio"
                                       class="regular_radio">
                                    }
                                    <label for="@item.Key">@item.Key</label>
                                </li>
                            }

                            </ul>
                        </div>
                    <div class="product_text">
                        <p> @product.Description </p>
                    </div>
                    <div class="product_buttons">
                        <div class="text-right d-flex flex-row align-items-start justify-content-start">
                            <div class="product_button product_fav text-center d-flex flex-column align-items-center justify-content-center">
                                <div>
                                    <div>
                                        <img src="~/images/heart_2.svg">
                                    </div>
                                </div>
                            </div>
                            <div id="button_add_to_cart" class="product_button product_cart text-center d-flex flex-column align-items-center justify-content-center">
                                <div>
                                    <div>
                                        <img src="~/images/cart.svg">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </form>

        </div>
    </div>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
