@{
    ViewData["Title"] = "Home Page";
    var layoutCategories = ViewData["LayoutCategories"];
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Esala</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Little Closet template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    @RenderSection("Links",required:false)

</head>
<body>

    <div class="super_container">

        <!-- Header -->

        <header class="header">
            <div class="header_overlay"></div>
            <div class="header_content d-flex flex-row align-items-center justify-content-start">
                <div class="logo">
                    <a href="/">
                        <div class="d-flex flex-row align-items-center justify-content-start">
                            <div><img src="/images/logo_1.png"></div>
                            <div>Esala</div>
                        </div>
                    </a>
                </div>
                <nav class="main_nav">
                    <ul class="d-flex flex-row align-items-start justify-content-start">
                        @*@foreach (var item in layoutCategories)
                        {
                            <li>
                                <a asp-action="Category"
                               asp-controller="Home"
                               asp-route-id="@item.Id"
                               asp-route-title="@item.Title">@item.Title</a>
                            </li>
                        }*@
                        @if (ViewData["LayoutCategories"]==null)
                        {
                            <li>asdfasdfasdf</li>
                        }
                    </ul>
                </nav>
                <div class="header_right d-flex flex-row align-items-center justify-content-start ml-auto">
                    <!-- User -->
                    <div class="products_dropdown user_dropdown_sorting">
                        <div class="user">
                            <div><img src="~/images/user.svg" alt=""></div>
                        </div>
                        <ul>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <li><a href="#">@User.Identity.Name</a></li>
                                <li><a asp-action="SignOut" asp-controller="UserAccount">Sign Out</a></li>
                            }
                            else
                            {
                                <li><a asp-action="SignIn" asp-controller="UserAccount">Sign In</a></li>
                                <li><a asp-action="SignUp" asp-controller="UserAccount">Sign Up</a></li>
                            }
                        </ul>
                    </div>
                    <!-- Cart -->
                    <div class="cart" style="display:flex;">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a asp-action="Cart" asp-controller="Home">
                                <div>
                                    <img class="svg" src="~/images/cart.svg" alt="">
                                </div>

                            </a>
                            <div>0</div>
                        }
                        else
                        {
                            <a asp-action="SignIn" asp-controller="UserAccount">
                                <div><img class="svg" src="~/images/cart.svg" alt=""></div>
                            </a>
                        }
                    </div>
                    <!-- Phone -->
                    <div class="header_phone d-flex flex-row align-items-center justify-content-start">
                        <div><div><img src="~/images/phone.svg" alt=""></div></div>
                        <div>MY_TELEPHONE</div>
                    </div>
                </div>
            </div>
        </header>

        <div class="super_container_inner">
            <div class="super_overlay"></div>

            @RenderBody()

        </div>

        @*        <footer>
        <div class="navbar navbar-dark navbar-expand-md bg-dark">
        <div class="navbar-nav ml-auto">
        <a class="nav-item nav-link" href="http://www.facebook.com">
        <i class="fab fa-facebook-f fa-2x"></i>
        </a>
        <a class="nav-item nav-link" href="http://www.vk.com">
        <i class="fab fa-vk fa-2x"></i>
        </a>
        <a class="nav-item nav-link" href="http://www.twitter.com">
        <i class="fab fa-twitter fa-2x"></i>
        </a>
        </div>
        </div>
        </footer>*@

    </div>

    @RenderSection("Scripts",required:false)

</body>
</html>
