@model ProductCart


<li class="cart_item item_list d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-end justify-content-start">
    <input type="hidden" id="product_id" value="@Model.Id" />
    <div class="product d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-start mr-auto">
        <div>
            <div class="product_number">@ViewData["ProductNumber"]</div>
        </div>
        <div>
            <div class="product_image"><img src="@Model.Image" alt=""></div>
        </div>
        <div class="product_name_container">
            <div class="product_name"><a asp-action="Product" asp-controller="Home">@Model.Title</a></div>
        </div>
    </div>
    <div class="product_size product_text"><span>Size: </span>@Model.Size</div>
    <div class="product_price product_text"><span>Price: </span>$@Model.Price</div>
    <div class="product_quantity_container">
        <div class="product_quantity">
            <button class="buttons_quantity" id="button_plus">+</button>
            <span class="product_text product_num" id="quantity">@Model.Quantity</span>
            <button class="buttons_quantity" id="button_minus">-</button>
        </div>
    </div>
    <div class="product_total product_text" style="margin: 0;"><span>Total: </span>$@Multiply(@Model.Price,@Model.Quantity)</div>
    <button class="delete_btn" id="button_delete @Model.Id @Model.Size">Delete</button>
</li>

@functions{
    public int Multiply(int x, int y) => x * y;
}