@model Product

<div class="product">
    <div class="product_image">
        <a asp-controller="Home" asp-action="Product" asp-route-id="@Model.Id">
            <img src="@Model.Image" alt="">
        </a>
    </div>
    <div class="product_content">
        <div class="product_info d-flex flex-row align-items-start justify-content-start">
            <div>
                <div>
                    <div class="product_name">
                        <a asp-controller="Home" asp-action="Product" asp-route-id="@Model.Id">@Model.Title</a>
                    </div>
                    <div class="product_category">In Category</div>
                </div>
            </div>
            <div class="ml-auto text-right">
                <div class="rating_r rating_r_4 home_item_rating">
                    @for (int i = 0; i < Model.Rate; i++)
                    {
                        <i></i>
                    }
                </div>
                <div class="product_price text-right">$@Model.Price</div>
            </div>
        </div>
        <div class="product_buttons">
            <div class="text-right d-flex flex-row align-items-start justify-content-start">
                <div id="@Model.Id" onclick='get_modal_view(this)'
                    class="product_button product_fav text-center d-flex flex-column align-items-center justify-content-center">
                    <div>
                        <div>
                            <img src="~/images/heart_2.svg" class="svg">
                        </div>
                    </div>
                </div>



                <div class="product_button product_cart text-center d-flex flex-column align-items-center justify-content-center">
                    <div>

                        <div>
                            <a asp-controller="Home" asp-action="Product" asp-route-id="@Model.Id">
                                <img src="~/images/cart.svg">
                            </a>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="modal_view" id="@Model.Id modal">
    <div class="modal_content">
        <div class="product_size">
            <div class="title_button">
                <div class="product_size_title">Select Size</div>
                <button class="button_close" id="@Model.Id button" onclick="close_modal_view(this)">X</button>
            </div>
            <ul class="ul_modal d-flex flex-row align-items-start justify-content-start">
                @foreach (var item in Model.Sizes)
                {
                    <li>
                        @if (item.Value != 0)
                        {
                            <input type="radio" id="@item.Key @Model.Id" name="product_radio" value="@item.Key"
                           class="regular_radio">
                        }
                        else
                        {
                            <input type="radio" id="@item.Key @Model.Id" disabled name="product_radio"
                           class="regular_radio">
                        }
                        <label for="@item.Key @Model.Id">@item.Key</label>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>

